
/* Style for the form container */
.form-container {
    width: 50%; /* Adjust the width of the form container as needed */
    margin: auto; /* Center horizontally */
    background-color: #000; /* Black background color */
    color: #fff; /* White text color */
    padding: 20px; /* Add some padding for better readability */
}

/* Style for the form */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

textarea.form-control {
    resize: vertical; /* Allow vertical resizing */
}

/* Style for the submit button */
.btn-primary {
    width: 100%;
}

/* Style for the alerts */
.alert {
    margin-bottom: 20px;
}
