{% extends 'basic.html' %}
{% block title %} About Us {% endblock title %}
{% block about %} menu-active {% endblock about %}
{% block body %}
<link rel="stylesheet" href="/static/css/aboutus.css">


<div class="about-container">
    <h2 >About Us</h2>
    <div class="team-member-card">
        <img src="https://media.licdn.com/dms/image/D5603AQHmCDCKfrVXTw/profile-displayphoto-shrink_400_400/0/1706086886568?e=1720051200&v=beta&t=PK5qn_Z9hks5NKVQtaON8V7fYfxhpxrG9VZtn3wygFc" alt="">
        <h3>Moizz Baig</h3>
        <p>USN. no.: 4MU20CS024</p>
        <p>Area of Expertise: Back-end</p>
        <p><a href="https://www.linkedin.com/in/moizz-baig-a791b31a5/" target="_blank">LinkedIn Profile</a></p>
    </div>
    <div class="team-member-card">
        <img src="https://media.licdn.com/dms/image/D5603AQHqmWDzrCiNzw/profile-displayphoto-shrink_400_400/0/1695356296639?e=1720051200&v=beta&t=30ymLJ_dLrGcv_S6YNYjhdnV6hO5_CdsPKd7_tApCaA" alt="">
        <h3>Zumare Pasha</h3>
        <p>USN. no.: 4MU20CS051</p>
        <p>Area of Expertise: Front-end</p>
        <p><a href="https://www.linkedin.com/in/zumare-pasha-144577253/" target="_blank">LinkedIn Profile</a></p>
    </div>
    
</div>
{% endblock body %}